:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-display: Futura, 'Century Gothic', 游ゴシック体, YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN';
}

body {
  overflow: hidden;
  font-family: var(--font-family-sans-serif);
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #fefefe;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-display);
}

.profile__name {
  font-size: 2rem;
  font-weight: bold;
}

.profile-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.socials {
  display: grid;
  justify-content: end;
  gap: 44px;
}

.socials__a {
}

.socials__a:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(1.1);
}

.profile-img {
  margin-top: 40px;
}

.profile-img__img {
  width: 440px;
  height: 440px;
}

.profile__subtitle {
  margin-top: 40px;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(16px)
  }
}

.profile-scroll {
  position: absolute;
  bottom: 40px;
  font-size: 3rem;
  animation: flash 0.8s ease-out infinite;
  cursor: pointer;
  user-select: none;
}

.interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-display);
}

.interests__title {
  font-weight: bold;
  font-size: 2rem;
}

.interests-icons {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 280px));
  gap: 64px;
}

.interests-icons__div {
  width: 100%;
  height: 100%;
  user-select: none;
}

.interests-icons__img {
  width: 100%;
  height: 100%;
}

.interests-icons__span {
  font-size:  min(28vw, 280px);
  width: 280px;
  height: 280px;
}

.bye {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-family-display);
  font-weight: bold;
  font-size: 2rem;
}
